<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/global.css">
  <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
  <div class="container">
    <h1>Dashboard</h1>
    <div class="buttons">
      <a href="/tasks" class="button-link">Úkoly</a>
      <a href="/date" class="button-link">Změna data</a>
    </div>
    <div>
      <h2 class="joke-title">Vtip o Chucku Norrisovi</h2>
      <p class="joke-text">"{{jokeOfTheDay}}"</p>
    </div>
  </div>
</body>
</html>