<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chyba {{statusCode}}</title>
  <link rel="stylesheet" href="/global.css">
  <link rel="stylesheet" href="/error.css">
  
</head>
<body class="error-background">
  <div class="container">
    <h1>Chyba {{statusCode}}</h1>
    <p>{{statusMessage}}</p>

    <h2>Stack Trace</h2>
    <pre>{{stack}}</pre>

    <h2>Detailní informace o chybě</h2>
    <pre>{{error}}</pre>
    <div class="buttons">
      <a href="/" class="back-button">⟵ Zpět na hlavní stránku</a>
    </div>
  </div>
</body>
</html>
