<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error {{statusCode}}</title>
  <link rel="stylesheet" href="/global.css">
  <link rel="stylesheet" href="/error.css">

</head>
<body class="error-background">
  <div class="container">
    <h1>Error {{statusCode}}</h1>
    <p>{{message}}</p>
    <div class="buttons">
      <a href="/" class="back-button">⟵ Go Back to Home</a>
    </div>
  </div>
</body>
</html>
